body{
	//background-image: url('../img/bg-img.png');
	background-color: gainsboro;
}
.head-col{
		color: #16a085;
}
.chosen-single{
	    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.map_search_header{
	height: 60px;
	width: 120%;
	background-color: #5CB85C;
	color: white;
	.text-search{
		width: 83%;
		background-color: #5CB85C;
		float:left;
		h1{
			width: 100%;
			margin: 0px;
			font-weight: 700;
			font-size: 24px;
			text-align: center;
			line-height: 60px;
		}
	}
	.button-search{
		float:left;
		width: 17%;
		height: 60px;
		a{
			background-color: white;
			width: 100%;
    		height: 100%;
    		color:black;
    		line-height: 40px;
    		font-size: 24px;
    		text-align: center;
    		font-weight: 700;
    		border-radius: 0px;
		}
		a:hover{
			color:#5CB85C;
		}
	}
	
}
.map_search_tab{
	width: 100%;
	ul{
		width:100%;
		li{
			width: 33.33%;
			margin: 0px;
			a{
				border-radius: 0px;
				text-align: center;
				color: black;
			    font-weight: 700;
			    border: 0px;
			    background-color: #EEEEEF;
			}
		}
		li.active{
			a{
				color: white;
			    font-weight: 700;
			    background-color: #2c3e50;
			}
		}
	}
}
.map_search_content{
	form{
		padding: 0px 15px;
	}
}
//----------- Content -----------//
#map_canvas{
}
.chowkaset-nav{
	width: 100%;
	//height: 60px;
	.gn-menu-main{
		z-index: 100!important;
	}
	//----------- Change Option of Nav Library -----------//
	.clear-nav-style{
		border: 0px !important;
		.img-nav{
			height: 50px;
			width: 50px;
			border-radius: 50%;
		}
		.dropdown-toggle{
			padding-right: 10px!important;
		}
		.dropdown-menu{
			min-width: 200px;
			z-index: 99;
			margin-left: 20px;
		}
	}
	.login-col{
		color: #16a085;
	}
	.login-col-size{
		font-size: 14px;
		float: left;
	}
}

.chowkaset-content{
	display: block;
	padding-top: 60px;
	margin: 0px -15px;
	width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
}
.row{
	margin: 20px 0px;
}
@media screen and (max-width: 768px) {
    	.place_kaset{
       		margin: 0px 0px;
       	}
       	.row{
       		margin: 0px 0px;
       	}
}

.box-default{
	margin-top: 15px;
	hr{
		height: 1px;
		margin-bottom: 0px;
	}
	.panel-heading{
		padding: 10px 20px;
		border-bottom: 1px solid transparent;
		border-top-left-radius: 5px;
    	border-top-right-radius: 5px;
    	h1,h2,h3,h4{
    		margin-top: 10px;
    	}
	}
	h4{
    	font-size: 21px;
    }
    h5{
    	font-size: 19px;
    }
	.head-col{
		color: #16a085;
	}
	.content-body-col{
		color: #F7C068;	
	}
	.content-head-col{
		cursor: pointer;
		color: #16a085;
	}
}

.form-group{
	.input-cks-form{
		height: 45px;
		border-radius: 0px!important;
	}
	.btn-cks-full{
		width: 100%;
		height: 50px;
		border-radius: 0px;
	}

	.btn-color-green{
		background-color: #16a085;
		color: white;
		font-size: 18px;
		border: 0px;
	}
	.btn-color-green:hover{
		background-color: #28B398;
		color: white;
	}
	.btn-color-red{
		background-color: #FF3B3B;
		color: white;
		font-size: 18px;
		border: 0px;
	}
	.btn-color-red:hover{
		background-color: #FF5656;
		color: white;
	}
	.btn-color-orange{
		background-color: #F5B54F;
		color: white;
		font-size: 18px;
		border: 0px;
		padding: 10px 6px 3px;
	}
	.btn-color-orange:hover{
		background-color: #F7C068;
		color: white;
	}
	.btn-color-blue{
		background-color: #59ABE3;
		color: white;
		font-size: 18px;
		border: 0px;
		padding: 10px 6px 3px;
	}
	.btn-color-blue:hover{
		background-color: #72B7E6;
		color: white;
	}
}
.a_facebook{
}
.background_full{
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    opacity: 0.6;
}

//--------------------------------------  Add Map Detail -----------------------------------
.place_kaset_class{
	width: 100%;
	height: 100%;
	position: fixed;
	margin-top: 0px;
    margin-bottom: 0px;
    opacity: 1.0;
    .col_place_kaset{
    box-sizing: border-box;
	margin: 2% 10%;
	border-radius: 5px;
	background-color: white;
	position: absolute;
	height: 80%;
	background-color: transparent;
	padding: 0px 0px;
		.place_kaset_header{
			opacity: 1;
			height: 45px;
			background-color: #16a085;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px; 
			text-align: center;
		    padding-top: 8px;
		    color: white;
		    font-size: 18px;
		}
		.tab_controll_place{
			ul{
				li{
					background-color: #EEEEEF;
					width:50%;
					border-radius: 0px;
					a{
						margin: auto 0px;
						border-radius: 0px;
						color: black;
						font-weight: 700;
						border: 0px;
						background-color: #EEEEEF;
						text-align: center;

					}
					a:hover{
						background-color: #34495e;
						color: white;
					}				
				}
				li.active{
					background-color: #EEEEEF;
					a{
						border: 0px;
						margin: auto 0px;
						border-radius: 0px;
						text-align: center;
						color: white;
						font-weight: 700;
						background-color: #2c3e50;
					}
				}
			}
		}
		.place_kaset_content{
			background-color: white;
			padding-bottom: 0px;
			max-height: 77%;
			overflow-y: scroll;
			.form-group{
				.form-control[disabled]{
					background-color: white;
			}
			.kaset-padding-bottom{
			}
			label{
				color: #16a085;
				font-size: 18px;
			}
			p{
				padding-left: 8px;
				padding-top: 5px;
				font-size: 16px;
			}
			hr{
				margin-top: 17px;
				clear: both;
			}
			hr.end-form{
    			margin-bottom: 0px;
    			padding-bottom: 10px;
    			border-color: white;
			}
			}
			
		}
			.place_kaset_content::-webkit-scrollbar {
		    -webkit-appearance: none;
		    	width: 7px;
		    	height: 20px;
			}
			.place_kaset_content::-webkit-scrollbar-thumb {
			    background-color: rgb(248, 148, 6);
			    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
			}

		.place_kaset_progress{
			height: 70px;
			background-color: white;
			.progress_logo_area{
				width: 85px;
				height: 70px;
				border-right: 1px #eee solid;
				float: left;
				.logo-kaset{
					width: 65px;
					height: 65px;
					margin-left: 10px;
					margin-top: 2.5px;
					.img-responsive{
						border-radius: 50%;
					}
				}
			}
			.progress_progress_area{
				width: 295px;
				height: 70px;
				float: right;
				.pre_content_progress_bar{
					height: 33px;
					p{
					    padding-top: 9px;
					    padding-left: 7px;
					}
					.img-responsive{
						background-color: green;
					}
				}
				.progress{
					width: 260px;
					margin: 0 15px;
				}
			}
		}
		.footer_place_kaset{
			border-top: 1px #eee solid;
			background-color: white;
			height: 40px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;

			label{
				color: #16a085;
				font-size: 14px;
				padding-left: 8px;
				padding-top: 2px;
			}
		}
	}
    @media screen and (max-width: 768px) {
	    .col_place_kaset{
			background-color: white;
			position: absolute;
			height:40%;
			min-width: 100%;
			padding: 0px 0px;
			margin-left: 0%;
			.tab_controll_place{
			ul{
				li{
					background-color: #EEEEEF;
					width:50%;
					border-radius: 0px;
					a{
						margin: auto 0px;
						border-radius: 0px;
						color: black;
						font-weight: 700;
						border: 0px;
						background-color: #EEEEEF;
						text-align: center;

					}
					a:hover{
						background-color: #34495e;
						color: white;
					}				
				}
				li.active{
					background-color: #EEEEEF;
					a{
						border: 0px;
						margin: auto 0px;
						border-radius: 0px;
						text-align: center;
						color: white;
						font-weight: 700;
						background-color: #2c3e50;
					}
				}
			}
		}
	}
	}
}



//--------------------------------------- Tool Tip -----------------------------------------
#id_tooltip_option{
	width: 270px;
	box-sizing: border-box;
	background-color: white;
	position: absolute;
	border-radius: 0px;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
	.list_option_tooltip{
		background-color: white;
    	margin-top: 0px;
    	border-radius: 0px;
		a{
			color: black;
		}
		a:hover{
			border-radius: 0px;
			cursor: pointer;
		}
		hr{
			margin: 0px;
		}
	}
}
#id_pin_position{
		width: 21px;
		height: 21px;
		position: absolute;
		img{
			width: 21px;
			height: 21px;
			border-radius: 50%;
			position: absolute;
		}
	}

#farm_management_console{
	background-color: transparent;
	height: 100%;
	width: 100%;
	padding: 1%;
	position: absolute;
	.farm_management_menu{
		background-color: white;
		height: 100%;
		padding: 0px;
		text-align: center;
		ul{
			height: 100%;
			li{
				margin: 0px;
				min-height: 60px;
				height: 25%;
				width: 100%;
				cursor: pointer;
				overflow: scroll;
				text-align: center;
				a{
					color: #080808;
					border-radius: 0px;
					width: 100%;
					height: 100%;
					padding-top: 35%;
					i{
					clear: both;
					font-size: 2em;
					}
				}
			}
			li.active{
				a{
					background-color: #85D285;
					color: white;
				}
			}
		}
	}
	.farm_management_board{
		padding: 0px;
		background-color: #e8e8e8;
		height: 100%;
		overflow: scroll;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		.tab-content{
			width: 100%;
			height: 100%;
			overflow: scroll;
			.wrap_card{
				margin-bottom: 15px;
				.card_menu{
					background-color: white;
					height: 340px;
					border-radius: 3px;
					.header_card{
						height: 45px;
						border-top-right-radius: 4px;
						border-top-left-radius: 4px;
						text-align: center;
						font-size: 20px;
						color: white;
						line-height: 45px;
					}
					.body_card{
						overflow: scroll;
						height: 295px;
						table{
							width: 90%;
							margin-left: 5%;
							margin-top: 10px;
						}
						#progress_management_detail{
							height: 55px;
							background-color: white;
							ul{
								padding-top: 5px;
								border-radius: 0px;
								li{
									border-radius: 0px;
									a{
										color: black;
									}
									a:hover{
										color: green;
									}
								}
								li.active{
									a{
										color: #5CB85C;
									}
								}
							}
						}
						#progress_management_sum{
							height: 300px;
							background-color: white;
							padding-left: 0px;
							padding-right: 0px;
							.progress_show_in_detail_tab{
								height: 200px;
								background-color: white;
								border-bottom: 1px solid #ddd;
								h1{
										margin: 0px;
										text-align: center;
    									line-height: 60px;
								}
								h2{
										margin: 0px;
										text-align: center;
    									line-height: 25px;
									}
								h3{
										margin: 0px;
										text-align: center;
    									line-height: 50px;
								}
								h5{
										margin: 0px;
										text-align: center;
    									line-height: 50px;
								}
							}
							.sum_show_in_detail_tab{
								height: 100px;
								background-color: white;
								.sum_list{
									height: 100px;
									border-right: 1px solid #ddd;
									h2{
										margin: 0px;
										text-align: center;
    									line-height: 57px;
									}
									h4{
										margin: 0px;
										text-align: center;
    									line-height: 25px;
									}
								}
							}
						}
					}
				}
			}
			#farm_detail{
				padding-top: 20px;
			}
			#farm_account{
				padding-top: 20px;
				.farm_account_choose{
					width: 300px;
					margin: 0 auto;
					padding: 15px;
					.choose_farm{
						width: 300px;
						margin: 5px auto;
						padding: 20px;
					}
				}
				.card_menu_choose{
					padding: 20px;
					background-color: white;
				}
				.farm_account_content{
					margin-top: 15px;
					padding: 15px;
					background-color: white;
					tbody{
						tr{
							td{
								text-align: center;
								a{
									font-size: 20px;
									i.edit_acc{
										color: #FF9500;
										text-align: center;
										cursor: pointer;
									}
									i.delete_acc{
										margin-left: 3px;
										color: red;
										text-align: center;
										cursor: pointer;
									}
								}
							}
						}
					}
				}
				.btn_add_account{
				    float: right;
				    margin-right: 5px;
    				margin-bottom: 10px;
				}
			}
			#farm_problem{
				padding-top: 20px;
				.farm_problem_choose{
					width: 300px;
					margin: 0 auto;
					padding: 15px;
					.choose_farm{
						width: 300px;
						margin: 5px auto;
						padding: 20px;
					}
				}
				.card_menu_choose{
					padding: 20px;
					background-color: white;
				}
				.farm_problem_content{
					margin-top: 15px;
					padding: 15px;
					background-color: white;
				}
				.btn_add_problem{
				    float: right;
				    margin-right: 5px;
    				margin-bottom: 10px;
				}
				tbody{
						tr{
							td{
								text-align: center;
								a{
									font-size: 20px;
									i.edit_acc{
										color: #FF9500;
										text-align: center;
										cursor: pointer;
									}
									i.delete_acc{
										margin-left: 3px;
										color: red;
										text-align: center;
										cursor: pointer;
									}
								}
							}
						}
					}
			}
		}
	}
	#id_close_farm_management_console{
		margin-left: 98.9%;
		a{
			position: fixed;
			font-weight: 700;
			font-size: 24px;
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
		a:hover{
			color: #D9534F;
		}
	}
@media (max-width: 992px) { 
	.farm_management_menu{
		background-color: white;
		height: 70px;
		padding: 0px;
		ul{
			height: 100%;
			li{
				display: inline;
				width: 25%;
				height: 70px;
				a{
					padding-top: 10%;
					height: 70px;
					i{
						text-align: center;
						font-size: 2em;
					}
					p{
						display: none;
					}
				}
				
			}
		}
	}
	.farm_management_board{
		margin-bottom: 15px;
		padding: 0px;
		height: 100%;
		overflow: scroll;
	}
	#id_close_farm_management_console{
		margin-left: 98%;
		a{
			display: none;
			
		}
		
	}
}
}
.reference-menu{
	background-color: #DDDDDD;
	height: 100%;
	padding: 15px 15px;
	.menu-wrap{
		background-color: white;
		height: 100%;
		hr {
			margin: 10px;
		}
		h3{
			color: #777777;
		}
		h6{
			color: #777777;
		}
	}
}
.reference-content{
	height: 100%;
	background-color: #DDDDDD;
	padding: 15px 15px;
	.content-wrap{
		background-color: white;
		height: 100%;
		overflow: scroll;
		h3{
			color: #777777;
		}
		h6{
			color: #777777;
		}
		hr {
			margin: 10px;
		}
	}
}
.thumb {
    display: inline-block;
    width: 100px;
    height: 100px;
    border:0;
    border-radius: 50%;
    margin: 5px;
    border: 0 none;
    box-shadow: none;
    background-color: white;
    background-position: center center;
    background-size: cover;
}


//-------------------------------------- Chatkaset -----------------------------------------//

#chatkaset_header{
	height: 50px;
	width: 100%;
	background-color: #F2F2F2;
	color: #999999;
	position: fixed;
	z-index: 100;
	padding-left: 15%;
	padding-right: 15%;
	.box-left{
		float: left;
		ul.chatkaset_nav{
			li{
				a{
					height: 50px!important;
					width: 140px;
					border-top: 5px solid #F2F2F2 !important;
					text-align: center;
					line-height: 23px;
					border-radius: 0px;
					color: #3b3b3b;
				}
				
			}
			li.active{
				a{
					background-color: white;
					color: #1abc9c;
					border-top: 5px solid #e64b21 !important;
				}
			}
		}	
	}
	.box-right{
		float: right;
		height: 50px!important;
	}
	
}
#chatkaset_content{
	height: 100%;
	position: initial;
    padding-top: 65px;
	padding-left: 2%;
	padding-right: 2%;
	width: 100%;
	.main-content{
		.topic{
			height: 120px;
			background-color: white;
			margin-top: 5px;
		}
	}
	.sidebar-content{
		margin-top: 5px;
		height: 500px;
		background-color: white;
	}
}

//-------------------------------------- Officer -----------------------------------------//

#officer_header{
	height: 50px;
	width: 100%;
	background-color: #F2F2F2;
	color: #999999;
	position: fixed;
	z-index: 100;
	padding-left: 15%;
	padding-right: 15%;
	.box-left{
		float: left;
		ul.chatkaset_nav{
			li{
				a{
					height: 50px!important;
					width: 140px;
					border-top: 5px solid #F2F2F2 !important;
					text-align: center;
					line-height: 23px;
					border-radius: 0px;
					color: #3b3b3b;
				}
				
			}
			li.active{
				a{
					background-color: white;
					color: #1abc9c;
					border-top: 5px solid #e64b21 !important;
				}
			}
		}	
	}
	.box-right{
		float: right;
		height: 50px!important;
	}
	
}
#officer_content{
    padding-top: 65px;
	padding-left: 2%;
	padding-right: 2%;
	width: 100%;
	height: 100%;
	.menu-content{
		background-color: white;
		height: 80px;
    	padding: 20px;
    	.search_icon{
    		    width: 100%;
			    height: 100%;
			    font-size: 30px;
    	}
		ul{
			overflow: scroll;
			height: 570px;
			.li_details{
			cursor: pointer;
			margin-top: 5px;
			.aumphur{
				text-align: center;
				font-size: 20px;
				background-color: #92DC92;
				border-bottom: 1px solid #92DC92 !important;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
			}
			.aumphur_detail{
				text-align: center;
				font-size: 20px;
				height: 100px;
				padding: 5px 10px;
				text-align: center;
				background-color: white;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
				h3{
					margin: 8px;
					text-align: center;
				}
				span.num_farmer{

				}
			}
			}
		}
		.head_content{
			height: 120px;
			background-color: white;
			margin-top: 5px;
		}
		.body_content{
			height: 120px;
			background-color: white;
			margin-top: 5px;
		}
	}
	.officer-main-content{
		margin-top: 5px;
		padding: 20px;
		background-color: white;
		hr{
			margin: 0px;
		}
		label{
			font-size: 20px;
			color: #FF9600;
		}
		p{
			font-size: 16px;
			padding-right: 20px;
		}
		.btn-add{
			float: right;
			margin-bottom: 5px;
		}
		table{
			thead{
				tr{
					th{
						text-align: center;
					}
				}
			}
			tbody{
				tr{
					td{
						text-align: center;
					}
				}
			}
		}
	}
}
a{
	i.zoom_acc{
	color: #5cb85c;
	text-align: center;
	cursor: pointer;
	margin-right: 3px;
	font-size: 16px;
	}
	i.edit_acc{
	color: #FF9500;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	}
	i.delete_acc{
	color: red;
	text-align: center;
	cursor: pointer;
	margin-left: 3px;
	font-size: 16px;
	}
}
.farm_detail_choose{
	width: 300px;
	margin: 0 auto;
	padding: 15px;
	.choose_farm{
		width: 300px;
		margin: 5px auto;
		padding: 20px;
	}
}
.card_menu_choose{
	padding: 20px;
	background-color: white;
}